@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  background-color: white;
  min-height: 100vh;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
